<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Consul" version="0.6.4.2" targetFramework="net452" />
  <package id="EventStore.Client" version="3.6.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.Owin" version="2.0.2" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.0.2" targetFramework="net452" />
  <package id="Microsoft.Owin.Hosting" version="2.0.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="prometheus-net" version="1.1.1.0" targetFramework="net452" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net452" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net452" />
</packages>